# Enable Bzlmod for all Bazel commands.
common --enable_bzlmod
common --define=protobuf_allow_msvc=true

# Windows MSVC specific flags
build --cxxopt=/Zc:__cplusplus
build:windows --cxxopt=/std:c++20
build:windows --conlyopt=/std:c++20

# Linux / Android / macOS (Clang/GCC)
build --cxxopt=-std=c++20
build --conlyopt=-std=c++20

# To create this file, please run:
#  bazel run @com_google_fuzztest//bazel:setup_configs > fuzztest.bazelrc
try-import %workspace%/fuzztest.bazelrc
